DevsDNA.Application/.vs/
DevsDNA.Application/DevsDNA.Application/DevsDNA.Application/obj/
DevsDNA.Application/DevsDNA.Application/DevsDNA.Application/bin/
DevsDNA.Application/DevsDNA.Application/DevsDNA.Application.Android/obj/
DevsDNA.Application/DevsDNA.Application/DevsDNA.Application.Android/bin/
DevsDNA.Application/DevsDNA.Application/DevsDNA.Application.iOS/obj/
DevsDNA.Application/DevsDNA.Application/DevsDNA.Application.iOS/bin/
DevsDNA.Application/DevsDNA.Application.Tests/obj/
DevsDNA.Application/DevsDNA.Application.Tests/bin/
DevsDNA.Application/DevsDNA.Application/DevsDNA.Application/secrets.json


*.user

DevsDNA.Application/DevsDNA.Application/DevsDNA.Application.iOS/Resources/._LaunchScreen.storyboard

DevsDNA.Application/DevsDNA.Application/DevsDNA.Application.iOS/Certificates/._DevsDNADev.mobileprovision

DevsDNA.Application/DevsDNA.Application/.DS_Store

DevsDNA.Application/.DS_Store

DevsDNA.Application/DevsDNA.Application/DevsDNA.Application.iOS/.vs/

.DS_Store

DevsDNA.Application/DevsDNA.Application/DevsDNA.Application.Android/google-services.json

DevsDNA.Application/DevsDNA.Application/DevsDNA.Application.iOS/Certificates/

DevsDNA.Application/DevsDNA.Application/DevsDNA.Application.Android/Certificate/
